:root{
    --main-light-color:#FFFFFF;
    --main-font-color: #757575;
    --secondary-font-color: #212121;
    --accent-color: #2196f3;
    --secondary-accent-color: #188ce8;
    --logo-color:#000000;
    --title-background-color:#2F303A;
    --team-background-color: #F5F4FA;
}
/*Global styles*/
.container{
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.71;
    background-color: var(--main-light-color);
    color: var(--main-font-color);
    letter-spacing: 0.03em;
}

.visually-hidden {
    position: absolute;
      white-space: nowrap;
      width: 1px;
      height: 1px;
      overflow: hidden;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      margin: -1px;
  } 
.list {
    list-style: none;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
/*Logo*/
.logo{
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height:1.19;

color: var(--logo-color);
}
.logo-blue{
    color:var(--accent-color);
}
.logo-white{
    color:var(--main-light-color);
}
.logo-position{
    padding-top:60px;
    padding-bottom: 20px;
}
.logo-header{
    padding-top: 24px;
}
/*Menu*/
.top-menu{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--secondary-font-color);

}
.top-menu a{
color: var(--secondary-font-color);
}
.top-menu a:hover, a:focus {
    color:var(--accent-color);
}

/* Site contact info*/
.contact-info a{
    color: var(--main-font-color);
    font-weight: 500;
    font-size: 14px;
    line-height:1.14;
    letter-spacing: 0.02em;
}
.contact-info a:hover, a:focus {
    color:var(--accent-color);
}
/*Main title*/
.title{
margin-top: 0;
margin-bottom: 30px;

font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color:var(--main-light-color);
background-color: var(--title-background-color);
}

.service-button{
background: var(--accent-color);
border-radius: 4px;
font-weight: 700;
font-size: 16px;
line-height: 1.8;
align-items: center;
cursor:pointer;
display: flex;
letter-spacing: 0.06em;
color:var(--main-light-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
text-align: center;
margin: 0 auto;
padding: 10px 32px 10px 32px;

}
.btn-service button:hover, button:focus{
    background: var(--secondary-accent-color);

}
/*h3 home styles*/
.block-title{
    font-weight: 700;
font-size: 14px;
line-height:1.14;

text-transform: uppercase;
color: var(--secondary-font-color);
margin-top: 0;
margin-bottom: 10px;
}

.features-list {
    padding-top: 94px;
    padding-bottom: 94px;
}



/*what we do & team titles*/
.work-title{
font-weight: 700;
font-size: 36px;
line-height:1.1;
text-align: center;
color:var(--secondary-font-color);

}
.work-team-title{
    padding-top: 94px;
}
.name-title{
font-weight: 500;
font-size: 16px;
color: var(--secondary-font-color);
/*text-align: center;*/
margin-top: 30px;
margin-bottom: 10px;
}
.name-profession{
    font-weight: 400;
    font-size: 16px;
    line-height:1.1;
    color: var(--main-font-color);
    /*text-align: center;*/
}

.bg-white{
    background-color: var(--main-light-color);
    }
.team-bg-color{
  background-color: var(--team-background-color);  
}
.work-alignment {
    padding-top: 50px;
    padding-bottom: 94px; 
}
.team-alignment {
   padding-top:50px;
   padding-bottom: 94px;  
}
.name-profession{
    margin-top: 0;
    margin-bottom: 0;

}
/*footer*/
.map{
font-weight: 400;
font-size: 14px;
line-height: 1.7;
color:var(--main-light-color);

}
.address-text{
font-style: normal;
}
.footer-contact-text{
    font-weight: 400;
font-size: 14px;
line-height: 1.7;
color: rgba(255, 255, 255, 0.6);
}
.footer-hover-color a:hover, a:focus {
    color:var(--accent-color);
}

.section-background, .hero-block{
background-color: var(--title-background-color);
}
.hero-block{
margin-top: 0;
text-align: center;

}
.bottom-space{
    padding-bottom: 60px;
}

/*Portfolio*/
.section-title{
    font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--secondary-font-color);
margin-top: 0;
margin-bottom: 0;
}
.project-type{
    font-weight: 400;
font-size: 16px;
line-height: 1.87;
color: var(--main-font-color);
margin-top: 0;
margin-bottom: 0;

}
/*Filter buttons*/

button{
    font-family: inherit;
}
.button-portfolio{
    cursor:pointer;
    background: var(--team-background-color);
    color: var(--secondary-font-color);
    border: none; 
    font-weight: 500;
    font-size: 16px;
    line-height:1.6;
    border-radius: 4px;
    padding: 6px 22px 6px 22px;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}
.button-position{
    margin-top:94px;
    margin-bottom: 50px;
}
.btn-group button:hover, button:focus{
   background-color :var(--accent-color);
    color: var(--main-light-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}


/*Project cards*/
.cards{
    margin-bottom: 94px;
}
